<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#AB-Testing" data-toc-modified-id="AB-Testing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>AB-Testing</a></span></li></ul></div>

# AB-Testing

![cats](images/cats.jpeg)


Imaginad que somos los cientificos de datos de la empresa de videojuegos Tactile Entertainment. Los desarrolladores del juego Cookie Cats pretenden introducir un cambio en el juego para aumentar la retencion de los jugadores. En cierto nivel del juego los jugadores se encuentran una puerta que les obliga a esperar o a pagar la app. Actualmente la puerta se encuentra en nivel 30 y se pretende pasar al nivel 40, para comprobar la retencion a 1 y 7 dias. Antes de realizar el cambio definitivo en el juego se raliza un test AB.

Los datos estan alojados en `data/cookie_cats.csv`. Nuestro grupo de control sera la version actual `gate_30` y el grupo de tratamiento sera la version `gate_40`. Debemos realizar el test para 1 dia de retencion `retention_1` y para 7 dias `retention_7`.

In [26]:
# librerias

import pandas as pd
import numpy as np

from statsmodels.stats.proportion import proportions_ztest, proportion_confint
from scipy.stats import norm, sem

import pylab as plt

In [37]:
df = pd.read_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana6\6.4_lab-AB-Testing\data\cookie_cats.csv')
df.shape
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3        False        False
1          337  gate_30              38         True        False
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90186  9999710  gate_30              28         True        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[90189 rows x 5 columns]

In [62]:
#gate_30 = df[df['version'] == 'gate_30'][:43000]
#gate_30 = gate_30.reset_index(drop = True)
#gate_40 = df[df['version'] == 'gate_40'][:43000]
#gate_40 = gate_40.reset_index(drop = True)
pd.crosstab(df.version, df.retention_1)

retention_1  False   True
version
gate_30          0  20034
gate_40      25370      0

In [72]:
drop_usuarios = df.loc[(df.retention_1 == False) & (df.version == 'gate_30')].index
drop_usuarios
df = df.drop(index=drop_usuarios)
drop_usuarios2 = df.loc[(df.retention_1 == True) & (df.version == 'gate_40')].index
df = df.drop(index=drop_usuarios2)
pd.crosstab(df.version, df.retention_1)
resta = (25370-20034)
df.reset_index(drop = True)
drop_usuarios3 = df.loc[(df.retention_1 == False) & (df.version == 'gate_40')].index
#for e in range(resta):
    #df.drop(index=drop_usuarios3[e], inplace = True)
pd.crosstab(df.version, df.retention_1)

retention_1  False   True
version
gate_30          0  20034
gate_40      20034      0

In [4]:
# testeo para retention_1

In [74]:
pd.crosstab(df.version, df.retention_7)

retention_7  False  True
version
gate_30      13358  6676
gate_40      18646  1388

###  Me he rayado